html, body {
  height: 100vh;
}
#root{
  display: flex;
  height:100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  @apply bg-blue-400 text-white;
}
a.active svg{
  @apply fill-white;
}